* {
    color: rgb(255, 255, 255);
    font-family: Bradley Hand, cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(14, 14, 14);

    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.navbar-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    padding: 50px 10px;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1000;
    background-color: black;
    justify-content: space-between;
}

.nav-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 14px;
    cursor: pointer;
    color: white;
    padding: 10px;
}

.nav-menu-class {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;

}

.div-for-navbar a:hover {
    background-color: powderblue;
}

a:active {
    color: blueviolet;
}

/* .nav-home-class {
}

.nav-content-class {
} */

.nav-name-class-portfolio {
    font-size: 100%;
}

#Home-content-section-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 200px;
    gap: 40px;
}

#Home-content-section-id h2 {

    animation: fadeIn 3s ease-in-out forwards;
    opacity: 0;
}

#Home-content-section-id h4 {

    color: powderblue;

}


.Home-buttons-container {
    text-align: center;
    background-color: rgb(113, 169, 214);
}

.Home-social-icons {
    text-align: center;
    gap: 10px;
    margin-top: 10px;
}

.container-home-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

img {

    border-radius: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#about-content-section-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100PX;
}

/* #about-content-section-id h2 {

    display: flex;
    justify-content: center;
    align-items: center;
} */

.for-about-p-content {
    width: 80%;
    border: 1px solid powderblue;
    padding: 30px;
    overflow: hidden;
    margin: 20px auto;

}


.class-for-download-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#skills-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100PX;
}

.class-for-skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    padding: 20px;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}

.class-for-skill>div {
    width: 100%;
    border: 1px solid powderblue;
    padding: 30px;
    overflow: hidden;
    margin: 10px;
}

.class-for-skill>div:nth-child(3) {
    grid-column: 1/-1;
}

#Education-qualification-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100PX;
}

.Education-container {
    border-left: 6px solid palegoldenrod;
    height: 600px;
    position: relative;
    left: 30%;
    margin-top: 50px;
    width: 60%;
}

.time-line-entry {
    position: relative;
    left: 0;
    width: 100%;
}

.time-line-round {
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: palegoldenrod;
    transform: translate(-60%, 0);
    left: -1px;
}

.timeline-date {
    position: absolute;
    left: 20px;
    width: 50px;
    white-space: nowrap;
}

.timeline-content {
    position: absolute;
    left: 40px;
    top: 20px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: calc(100%-60px);
}

.Project-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid powderblue;
    margin: 40px auto;
    width: 90%;
    box-sizing: border-box;
}

.Project-container>div {
    flex: 1 1 300px;
    max-width: 450px;
    border: 1px solid powderblue;
    padding: 20px;
    box-sizing: border-box;
}

.project-line {

    border-radius: 100% solid palegoldenrod;
    margin: 20px auto;
}

.contact-me-container {
    background-color: azure;
    display: flex;
    padding: 20px;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid powderblue;
    margin: 10px auto;
    width: 100%;
    position: sticky;
    margin: 0;
}

.contact-me-container div {
    color: black;
    display: flex;
    flex-direction: row;
    gap: 30px;
}



@keyframes fadeIn {
    to {
        opacity: 1;
    }

}

@media screen and (max-width: 601px) {
    * {
        font-size: 14px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
        margin: 0;
    }

    .navbar-class {
        position: fixed;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 10px;
    }

    .hamburger {
        display: block;
    }

    .nav-menu-class {
        display: none;
        flex-direction: column;
        background-color: black;
        text-align: center;
        width: 100%;
        /* flex-wrap: wrap; */
    }

    .nav-menu-class a {
        padding: 5px;
        margin: 1px 0;
        border-top: 1px solid #444;
        font-size: 14px;
        display: block;
    }

    .nav-toggle:checked~.nav-menu-class {
        display: flex;
    }

    .container-home-main {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #Home-content-section-id {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
        margin-top: 0;
    }

    .Home-last-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
                margin-right:100px ;

    }

    img {
        max-width: 150px;
        height: 150px;
    }

    .class-for-skill {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px;
    }

    .class-for-skill>div {
        width: 100%;
        padding: 10%;
        word-wrap: break-word;
    }

    .class-for-skill p {
        white-space: normal;
        word-break: break-word;
        font-size: 14px;
    }

    .class-for-skill h4 {
        font-size: 14px;
    }

    #Education-qualification-id {
        padding-bottom: 100px;
        left: 1%;
    }

    .Education-container {
        width: 90%;
        left: 10%;
        margin: 0 auto;
        padding-left: 20px;
        border-left: 4px solid palegoldenrod;
    }

    .timeline-content {
        position: absolute;
        left: 20px;
        top: 20px;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        width: calc(100%-60px);
    }

    .timeline-date {
        font-size: 14px;

    }

    .time-line-round {
        width: 15px;
        height: 15px;
        left: -20px;
    }

    .Project-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
        row-gap: 20px;
    }

    .Project-container>div {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
        word-wrap: break-word;
        box-sizing: border-box;
    }

    .Project-container p {
        white-space: normal;
        word-break: break-word;
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    * {
        font-size: 16px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
        background-color: rgb(1, 1, 1);
        margin: 0;
    }

    .navbar-class {
        position: fixed;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 10px;
    }

    .hamburger {
        display: block;
    }

    .nav-menu-class {
        display: none;
        flex-direction: column;
        background-color: rgb(135, 37, 37);
        text-align: center;
        width: 100%;
        /* flex-wrap: wrap; */
    }

    .nav-menu-class a {
        padding: 5px;
        margin: 1px 0;
        border-top: 1px solid #444;
        font-size: 14px;
        display: block;
    }

    .nav-toggle:checked~.nav-menu-class {
        display: flex;
    }

    /* .container-home-main {
        display: flex;
        flex-direction: column;
        text-align: center;
    } */

    #Home-content-section-id {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
        margin-top: 0;
        margin-left: 50px;
    }

    .Home-last-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 80px;
    }

    img {
        max-width: 250px;
        height: 250px;
    }

    #Education-qualification-id {
        padding-bottom: 100px;
        left: 1%;
    }

    .Education-container {
        width: 90%;
        left: 20%;
        margin: 0 auto;
        padding-left: 20px;
        border-left: 4px solid palegoldenrod;
    }

    .timeline-content {
        position: absolute;
        left: 20px;
        top: 20px;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        width: calc(100%-60px);
    }

    .timeline-date {
        font-size: 16px;

    }

    .time-line-round {
        width: 15px;
        height: 15px;
        left: -20px;
    }
}