* {
    color: rgb(255, 255, 255);
    font-family: Bradley Hand;
    box-sizing: border-box;

}

body {
    background-color: rgb(14, 14, 14);

    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    padding: 50px 10px;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1000;
    background-color: black;
    justify-content: space-between;
}

.nav-menu-class {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;

}

.div-for-navbar a:hover {
    background-color: powderblue;
}

a:active {
    color: blueviolet;
}

/* .nav-home-class {
}

.nav-content-class {
} */

.nav-name-class-portfolio {
    font-size: 100%;
}

#Home-content-section-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 200px;
    gap: 40px;
}

#Home-content-section-id h2 {

    animation: fadeIn 3s ease-in-out forwards;
    opacity: 0;
}

#Home-content-section-id h4 {

    color: powderblue;

}


.Home-buttons-container {
    text-align: center;
    background-color: rgb(113, 169, 214);
}

.Home-social-icons {
    text-align: center;
    gap: 10px;
    margin-top: 10px;
}

.container-home-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 40px;

}

img {

    border-radius: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#about-content-section-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100PX;
}

/* #about-content-section-id h2 {

    display: flex;
    justify-content: center;
    align-items: center;
} */

.for-about-p-content {
    width: 80%;
    border: 1px solid powderblue;
    padding: 30px;
    overflow: hidden;
    margin: 20px auto;

}


.class-for-download-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#skills-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100PX;
}

.class-for-skill {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}

.class-for-skill>div {
    width: 100%;
    border: 1px solid powderblue;
    padding: 30px;
    overflow: hidden;
    margin: 10px;
}

#Education-qualification-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100PX;
}

.Education-container {
    border-left: 6px solid palegoldenrod;
    height: 600px;
    position: relative;
    left: 30%;
    margin-top: 50px;
    width: 60%;
}

.time-line-entry {
    position: relative;
    left: 0;
    width: 100%;
}

.time-line-round {
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: palegoldenrod;
    transform: translate(-60%, 0);
    left: -1px;
}

.timeline-date {
    position: absolute;
    left: 20px;
    width: 50px;
    white-space: nowrap;
}

.timeline-content {
    position: absolute;
    left: 20px;
    top: 20px;
    white-space: nowrap;
}

.Project-container {
    display: flex;
    padding: 20px;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid powderblue;
    margin: 10px auto;
    width: 50%;
    position: relative;
}

.Project-container>div {
    width: 100%;
    border: 1px solid powderblue;
    padding: 20px;
    overflow: hidden;
    margin-left: 10px;

}

.project-line {

    border-radius: 100% solid palegoldenrod;
    margin: 20px auto;
}

.contact-me-container {
    background-color: azure;
    display: flex;
    padding: 20px;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid powderblue;
    margin: 10px auto;
    width: 100%;
    position: sticky;
    margin: 0;
}

.contact-me-container div {
    color: black;
    display: flex;
    flex-direction: row;
    gap: 30px;
}



@keyframes fadeIn {
    to {
        opacity: 1;
    }

}

@media screen and (max-width: 600px) {
    * {
        font-size: 14px;
    }

    body {
                padding: 10px;
                background-color: brown;
    }

    .container-home-main {
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 20px;
    }

    #Home-content-section-id {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Home-last-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 78) {}